<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ToDo App</title>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css"></link>  
  <link rel="stylesheet" href="css/styles.css"></link>
  <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
  <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
  <script src="https://unpkg.com/semantic-ui-react@0.73.1/dist/umd/semantic-ui-react.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
</head>
<body>
  <div id="container"></div>
  <script type="text/babel">
    var destination = document.querySelector('#container');

    let Input = semanticUIReact.Input;
    let Button = semanticUIReact.Button;
    let Container = semanticUIReact.Container;
    let Segment = semanticUIReact.Segment;
    let Divider = semanticUIReact.Divider;
    let Icon = semanticUIReact.Icon;

    const Title = () => {
      return (
        <div style={{margin: '25px'}}>
          <h1 style={{fontFamily: '"Montserrat", sans-serif', color: '#4b4640', fontSize: '42px', fontWeight: 700}}>To Do</h1> 
        </div>
      );
    }

    class TodoForm extends React.Component {
      constructor(props) {
        super(props);
        let inputBox;
      }

      componentDidMount() {
        this.inputBox.inputRef.focus();
      }

      render() {
        return (
          <div>
            <Input
              ref={node => {this.inputBox = node}} placeholder='add things that are pain in your ass... 😉'
              action={<Button onClick={() => {this.props.addTodo(this.inputBox.inputRef.value); this.inputBox.inputRef.value='';}}
              primary>add todo</Button>}
              size='big'
              fluid
              focus
            />          
          </div>
        );
      }
    }

    const Todo = ({todo, remove}) => {

      let removeIcon;

      // Each Todo
      return (
        <Segment
          onMouseEnter={() => {removeIcon.style.visibility='visible'}}
          onMouseLeave={() => {removeIcon.style.visibility='hidden'}}
          textAlign='center'
          size='large'
        >
          <div style={{ width: '92%', display: 'inline-block', fontSize: '1.2em' }}>{todo.text}</div>

          <i
            style={{visibility: 'hidden', color: '#ed5249'}}
            aria-hidden="true"
            className="remove circle outline large link icon"
            onClick={() => {remove(todo.id)}}
            ref={(node) => {removeIcon = node}}
          ></i>
        </Segment>
      );
    }

    const TodoList = ({todos, remove}) => {
      const todoNode = todos.map((todo) => {
        return (<Todo todo={todo} key={todo.id} remove={remove} />);
      });

      return (<Segment.Group>{todoNode}</Segment.Group>);
    }

    window.id = 0;
    class TodoApp extends React.Component {
      constructor(props) {
        super(props);

        // set Initial State
        this.state = {
          data: [],
          autoFocus: false,
        }
      }

      // Add Todo handler
      addTodo(text) {
        // Assemble data
        const todo = {text: text, id: window.id++}

        //update the data
        this.state.data.push(todo);

        //Update state
        this.setState({
          data: this.state.data,
        });

      }

      // handle Remove
      handleRemove(id) {
        // filter all todos except the one to be removed
        const remainder = this.state.data.filter((todo) => todo.id !== id);

        // Update state with filter
        this.setState({
          data: remainder,
        });
      }

      render() {
        return (
          <Container textAlign='center' style={{ width: '768px'}}>
            <Title />
            <Segment padded>
              <TodoForm addTodo={this.addTodo.bind(this)} />
              <Divider style={{color: '#2185d0'}} horizontal>list of todos</Divider>
              <TodoList todos={this.state.data} remove={this.handleRemove.bind(this)} />
            </Segment>
          </Container>
        );
      }
    }

    ReactDOM.render(<TodoApp />, destination);
  </script>
</body>
</html>
